.block-element-dots {
  display: flex;
  margin-top: 15px;
  cursor: pointer;
  .dot {
    width: 4px;
    height: 4px;
    border: 1px solid $color_4;
    margin-left: 5px;
    margin-right: 5px;
    &:first-child {
      margin-left: 0;
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}