.block-employee-group {
  .wrapper-text {
    &.header {
      margin-top: 20px;
      margin-bottom: 15px;
      h2 {
        margin: 0;
      }
    }
  }
  .wrapper-employee-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    .wrapper-employee-group-element {
      flex-basis: 50%;
      max-width: 50%;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: map-get($map: $grid-breakpoints, $key: "lg") - 1px) {
  .block-employee-group {
    .wrapper-employee-group {
      .wrapper-employee-group-element {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
