.block-input-textarea {
  label {
    display: inline-block;
    margin-bottom: 13px;
  }
  .wrapper-input-textarea {
    position: relative;
    .form-group {
      textarea {
        height: 140px;
        width: 100%;
        padding-left: 21px;
        padding-right: 21px;
        padding-top: 21px;
        padding-bottom: 21px;
        border: 1px solid $color_8;
        resize: none;
      }
      label {
        display: none;
        text-indent: -9999px;
      }
    }
    .textarea-counter {
      position: absolute;
      bottom: 9px;
      right: 20px;
      opacity: 50%;
      font-size: 11px;
    }
  }
}
