.page-it-equipment {
  .wrapper-page-it-equipment-filter {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper-page-it-equipment-table {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
